/* src/styles/Home.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.login-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form Input{
  display: flex;
  padding: 10px;
  }
  .login-form-data-1{
    margin: 10px 0px;
  }
  .login-form-data-2{
    margin: 10px 0px;
  }

.role-selection {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  /* padding: 20px; */
}
body::-webkit-scrollbar {
  display: none;  /* Hide scrollbar for Webkit browsers */
}
chatgpt-sidebar{
  display: none;
  background-color: lightgray;
  border: 1px solid black;
  height: 100px;
}
chatgpt-sidebar-popups{
display: none;
  background-color: lightgray;
  border: 1px solid black;
  height: 100px;

}
/* #root, .bg-emerald-300.p-1 {
  height: 100vh;
}
.bg-emerald-300.p-1 { /* or #root */
  overflow: hidden;
} */